<h1>Hello Angular!</h1>

<button (click)="toggle = !toggle">Toggle</button>

<!--<p *ngIf="toggle" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, suscipit.</p>-->
<!--<p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nemo!</p>-->

<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, suscipit.</p>

<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nemo!</p>
</ng-template>
